<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../public/bootstrap.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/detail.css">
    <title><%= detail.room.name %></title>
</head>
<body class="container-fluid">
<header class="row">
    <div class="navContainer row">
        <div class="col-sm-2 navButton"><a class="header_a_button" href="/">首页</a></div>
        <div class="col-sm-2 navButton"><a class="header_a_button" href="/intro">雀舍其家</a></div>
        <div class="col-sm-4 logo">
            <img id="logo" src="../img/index/logo.png" alt="logo">
        </div>
        <div class="col-sm-2 navButton"><a class="header_a_button fontColor" href="/rooms">舍型展示</a></div>
        <div class="col-sm-2 navButton"><a class="header_a_button" href="/service">舍友服务</a></div>
        <span id="dropdownMenu1" class="visible-xs-block navMenu glyphicon glyphicon-menu-hamburger"></span>
        <ul id="phoneNav" class="phoneNav">
            <li><a href="/">首页</a></li>
            <li><a href="/intro">雀舍其家</a></li>
            <li><a href="/rooms">舍型展示</a></li>
            <li><a href="/service">舍友服务</a></li>
        </ul>
    </div>
</header>
<nav class="row" style="background-image: url('<%= '../img/rooms/big/' + detail.room.id + '/' + detail.room.avatar %>')">
    <div class="wrap">
        <div class="img-bar">
            <div class="arrow left">
                <img src="../img/detail/arrow-left.png" alt="←">
            </div>
            <ul class="thumb">
                <% detail.room.images.forEach(function(item){ %>
                <li>
                    <img src="<%= '../img/rooms/tumb/' + detail.room.id + '/' + item %>" alt="">
                </li>
                <% }) %>
            </ul>

            <div class="arrow right">
                <img src="../img/detail/arrow-right.png" alt="→">
            </div>
        </div>
    </div>
</nav>
<div class="content">
    <div class="wrap">
        <ul>
            <li class="item">
                <div class="title">
                    <span class="link-color">舍型展示</span>  <span class="content-color"> &gt; 房间详情</span>
                </div>
                <div class="line"></div>
                <div class="content">
                    <ul>
                        <li>
                            <span>双早</span>
                        </li>
                        <li>
                            <span>面积</span>
                        </li>
                        <li>
                            <span>楼层</span>
                        </li>
                        <li>
                            <span>床型(不可加床)</span>
                        </li>
                        <li>
                            <span>无烟房</span>
                        </li>
                        <li>
                            <span>最多入住</span>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="intro">
            <% detail.intro.forEach(function(item){ %>
            <li>
                <div class="title link-color">
                    <%= item.name %>
                </div>
                <div class="line"></div>
                <div class="content content-color">
                    <%= item.desc %>
                </div>
            </li>
            <% }) %>
        </ul>
    </div>
</div>
<footer class="row">
    <div class="nestFooterContainer">
        <img src="../img/index/foot_logo.png" alt="">
        <div class="hidden-xs">
            <div class="nestFooterLeft">
                <p>@Copyright</p>
            </div>
            <div class="nestFooterRight">
                <p>地址：浙江省舟山市普陀区东港昌正街170号</p>
                <p>电话：0580-3887474</p>
            </div>
        </div>

        <div class="visible-xs-block  phoneNestFooter">
            <div class="phoneNestFooterRight">
                <p>电话：0580-3887474</p>
            </div>
            <div class="phoneNestFooterLeft">
                <p>@Copyright</p>
            </div>
        </div>
    </div>
</footer>


<!--<div><%= detail.room.name %></div>-->
<!--<div><%= detail.room.bedType %></div>-->
<!--<div><%= detail.room.avatar %></div>-->
<!--<div><%= detail.room.price %></div>-->
<!--<div><%= detail.room.price %></div>-->
<!--<div><%= detail.room.additional %></div>-->
<!--<div><%= detail.room.area %></div>-->
<!--<div><%= detail.room.floor %></div>-->
<!--<div><%= detail.room.maxNum %></div>-->
<script>
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
    window.onresize = function () {
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
    }
</script>
<script src="../public/jquery-3.1.1.js"></script>
<script src="../public/bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $('.navMenu').click(function () {
            if ($(this).hasClass('glyphicon-menu-hamburger')) {
                $(this).removeClass('glyphicon-menu-hamburger').addClass('glyphicon-remove');
            } else {
                $(this).removeClass('glyphicon-remove').addClass('glyphicon-menu-hamburger');
            }
            $("#phoneNav").slideToggle(300);
        })

    })
</script>
</body>
</html>