<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/detail.css">
    <link rel="shortcut icon" href="../img/index/small_logo.png">
    <link rel="bookmark"  type="image/x-icon"  href="../img/index/small_logo.png"/>
    <title><%= detail.room.name %></title>
</head>
<body>
<div class="container-fluid">
    <header>
        <div class="navContainer row">
            <div class="col-sm-2 navButton"><a class="header_a_button" href="/">首页</a></div>
            <div class="col-sm-2 navButton"><a class="header_a_button" href="/intro">雀舍其家</a></div>
            <div class="col-sm-4 logo">
                <img id="logo" src="../img/index/logo.png" alt="logo">
            </div>
            <div class="col-sm-2 navButton"><a class="header_a_button fontColor" href="/rooms">舍型展示</a></div>
            <div class="col-sm-2 navButton"><a class="header_a_button" href="/service">舍友服务</a></div>
            <span id="dropdownMenu1" class="visible-xs-block navMenu glyphicon glyphicon-menu-hamburger"></span>
            <ul id="phoneNav" class="phoneNav">
                <li><a href="/">首页</a></li>
                <li><a href="/intro">雀舍其家</a></li>
                <li><a href="/rooms">舍型展示</a></li>
                <li><a href="/service">舍友服务</a></li>
            </ul>
        </div>
    </header>
    <nav class="row banner"
         style="background-image: url('<%= '../img/rooms/big/' + detail.room.id + '/' + detail.room.avatar %>')">
        <div class="wrap">
            <div class="img-view visible-xs">
                <span>查看更多图片 <span class="glyphicon glyphicon-menu-right"></span></span>
            </div>
            <div class="img-bar hidden-xs">
                <div class="arrow left">
                    <img src="../img/detail/arrow-left.png" alt="←">
                </div>
                <ul class="thumb">
                    <% detail.room.images.forEach(function(item){ %>
                    <li>
                        <img src="<%= '../img/rooms/tumb/' + detail.room.id + '/' + item %>" alt="">
                    </li>
                    <% }) %>
                </ul>

                <div class="arrow right">
                    <img src="../img/detail/arrow-right.png" alt="→">
                </div>
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="wrap row">
            <div class="col-md-8 desc-wrap">
                <ul class="desc">
                    <li class="item">
                        <div class="title hidden-xs">
                            <a href="/rooms" class="link-color">舍型展示</a> <span class="content-color"> &gt; 房间详情</span>
                            <button class="btn btn-danger book visible-sm reserve">立即预定</button>
                            <!--<p class="price visible-sm">参考价: ￥<%= detail.room.price %></p>-->
                        </div>
                        <div class="line hidden-xs"></div>
                        <div class="detail">
                            <!--<p class="price visible-xs">￥<%= detail.room.price %></p>-->
                            <h3>
                                <%= detail.room.name %>
                                <% if (detail.room.num) { %>
                                <span class="number">(<%= detail.room.num %>间)</span>
                                <% } %>
                            </h3>
                            <p class="address visible-xs">浙江省舟山市普陀区东港昌正街170号</p>
                            <ul class="service">
                                <li>
                                    <img  class="icon" src="../img/detail/people.png" alt="最多入住">
                                    <p>
                                        可住
                                        <span><%= detail.room.maxNum %></span>
                                        人
                                    </p>
                                </li>
                                <li>
                                    <img class="icon" src="../img/detail/area.png" alt="面积">
                                    <p>
                                        面积
                                        <span><%= detail.room.area %></span>
                                        m2
                                    </p>
                                </li>
                                <li>
                                    <img class="icon" src="../img/detail/floor.png" alt="楼层">
                                    <p>
                                        楼层
                                        <span><%= detail.room.floor %></span>
                                        F
                                    </p>
                                </li>
                                <li class="right">
                                    <img class="icon" src="../img/detail/bed.png" alt="床型">
                                    <p>
                                        <span><%= detail.room.bedType %></span>
                                        <% if (detail.room.additional) { %>
                                        <span>(可加床)</span>
                                        <% } %>
                                    </p>
                                </li>
                            </ul>
                            <ul class="service second">
                                <li>
                                    <img class="icon" src="../img/detail/breakfast.png" alt="双早">
                                    <p>双早</p>
                                </li>
                                <li>
                                    <img class="icon" src="../img/detail/wifi.png" alt="WIFI">
                                    <p>wifi</p>
                                </li>

                                <li>
                                    <img class="icon" src="../img/detail/smoke.png" alt="双早">
                                    <p>无烟房</p>
                                </li>

                                <li class="right">
                                    <img class="icon" src="../img/detail/airClean.png" alt="净化器">
                                    <p>空气净化器</p>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <% if (detail.room.detail) { %>
                <ul class="intro">
                    <li class="item">
                        <div class="title link-color">
                            特色
                        </div>
                        <div class="line"></div>
                        <div class="content content-color">
                            <%= detail.room.detail %>
                        </div>
                    </li>
                </ul>
                <% } %>

                <ul class="intro">
                    <% detail.intro.forEach(function(item){ %>
                    <li class="item">
                        <div class="title link-color">
                            <%= item.name %>
                        </div>
                        <div class="line"></div>
                        <div class="content content-color">
                            <%= item.desc %>
                        </div>
                    </li>
                    <% }) %>
                </ul>
            </div>
            <div class="col-md-3 col-md-offset-1 hidden-sm hidden-xs">
                <div class="book-wrap">
                    <p>参考价: ￥<%= detail.room.price %></p>
                    <button class="reserve btn btn-danger btn-block">立即预定</button>
                </div>
            </div>
        </div>
    </div>
    <footer class="row">
        <div class="nest-footer-container">
            <div class="col-sm-6 col-xs-4">
                <img src="../img/index/foot_logo.png" alt="">
                <div class="nestFooterLeft hidden-xs">
                    <p class="copy-right">@Copyright 浙ICP备1502src9129号</p>
                </div>
            </div>
            <div class="col-sm-6 col-xs-8">
                <div class="nestFooterRight">
                    <p class="hidden-xs">地址：浙江省舟山市普陀区东港昌正街170号</p>
                    <p>电话：0580-3887474</p>
                    <p class="copy-right visible-xs">@Copyright 浙ICP备15029129号</p>
                </div>
            </div>
        </div>
    </footer>
</div>
<div class="book-fix visible-xs reserve">
    <button class="btn btn-block btn-danger">立即预定</button>
</div>

<div class="layer-bg hidden">
    <div class="remove-icon">
        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
    </div>
    <div id="carousel" data-interval="false" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <% detail.room.images.forEach(function(item){ %>
            <% if ( item == detail.room.avatar) { %>
            <div class="item active">
                <img class="bg-img" src="<%= '../img/rooms/big/' + detail.room.id + '/' + item %>" alt="">
            </div>
            <% } else { %>
            <div class="item">
                <img class="bg-img lazy" data-original="<%= '../img/rooms/big/' + detail.room.id + '/' + item %>" alt="">
            </div>
            <% } %>
            <% }) %>
        </div>
        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<script>
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
    window.onresize = function () {
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
    }
</script>
<script src="http://cdn.bootcss.com/jquery/3.2.0/jquery.min.js"></script>
<script src="../public/jquery.lazyload.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('.navMenu').click(function () {
            if ($(this).hasClass('glyphicon-menu-hamburger')) {
                $(this).removeClass('glyphicon-menu-hamburger').addClass('glyphicon-remove');
            } else {
                $(this).removeClass('glyphicon-remove').addClass('glyphicon-menu-hamburger');
            }
            $("#phoneNav").slideToggle(300);
        });

        //点击a标签后收回ul
        $('#phoneNav a').click(function () {
            $("#phoneNav").slideUp(300);
            if ($('.navMenu').hasClass('glyphicon-menu-hamburger')) {
                $('.navMenu').removeClass('glyphicon-menu-hamburger').addClass('glyphicon-remove');
            } else {
                $('.navMenu').removeClass('glyphicon-remove').addClass('glyphicon-menu-hamburger');
            }
        });
        //        logo点击事件
        $("#logo").click(function () {
            location.href = "/"
        });
        //        预定点击事件
        $(".reserve").click(function () {
            location.href = "http://hotels.ctrip.com/hotel/6559559.html#ctm_ref=chp_htl_3_n"
        });
        $(".banner").click(function () {
            $("img.lazy").trigger("sporty");
            $(".layer-bg").removeClass("hidden")
        });
        $(".remove-icon").click(function () {
            $(".layer-bg").addClass("hidden")
        });
        //懒加载
        $("img.lazy").lazyload({
            effect : "fadeIn",
            event : "sporty"
        });

    })
</script>
</body>
</html>