<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= room.name %></title>
</head>
<body>
<div><%= room.name %></div>
<div><%= room.bedType %></div>
<div><%= room.avatar %></div>
<div><%= room.price %></div>
<div><%= room.price %></div>
<div><%= room.additional %></div>
<div><%= room.area %></div>
<div><%= room.floor %></div>
<div><%= room.maxNum %></div>
</body>
</html>