<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/intro.css">
    <link rel="shortcut icon" href="../img/index/small_logo.png">
    <link rel="bookmark"  type="image/x-icon"  href="../img/index/small_logo.png"/>
    <title>雀舍其家</title>
</head>
<body class="container-fluid">
<header>
    <div class="navContainer row">
        <div class="col-sm-2 navButton"><a class="header_a_button" href="/">首页</a></div>
        <div class="col-sm-2 navButton"><a class="header_a_button fontColor" href="/intro">雀舍其家</a></div>
        <div class="col-sm-4 logo">
            <img id="logo" src="/img/index/logo.png" alt="logo">
        </div>
        <div class="col-sm-2 navButton"><a class="header_a_button" href="/rooms">舍型展示</a></div>
        <div class="col-sm-2 navButton"><a class="header_a_button" href="/service">舍友服务</a></div>
        <span id="dropdownMenu1" class="visible-xs-block navMenu glyphicon glyphicon-menu-hamburger"></span>
        <ul id="phoneNav" class="phoneNav">
            <li><a href="/">首页</a></li>
            <li><a href="/intro">雀舍其家</a></li>
            <li><a href="/rooms">舍型展示</a></li>
            <li><a href="/service">舍友服务</a></li>
        </ul>
    </div>
</header>
<nav class="row"></nav>


<!--手机屏幕显示导航栏-->
<div class="row visible-xs-block">
    <div class="row navigation_container">
        <div class="col-xs-3 navigation"><a class="class_a border_bottom" href="#lobby">雀舍概况</a></div>
        <div class="col-xs-3 navigation"><a class="class_a" href="#geography">地理位置</a></div>
        <div class="col-xs-3 navigation"><a class="class_a" href="#travel">旅游攻略</a></div>
    </div>
</div>


<div id="content">
    <div id="lobby" class="coffee center part">
        <h1 class="css_h1">雀舍概况</h1>
        <p class="css_p">Lobby Center</p>
        <img class="coffee_img1 lazy" data-original="../img/intro/coffee.jpg" alt="coffee">
        <p class="coffee_p2">我们倡导舒展松弛/臻于细节的生活方式,为休闲度假的朋友/携孩子出行的家庭/自由行走的梦想者提供不期而遇的惊喜栖所,希望每位如果的宾客犹如置身家中一样轻松自在</p>
        <div class="row coffee_details">
            <div class="col-md-6 coffee_details_left">
                <img class="lazy" data-original="../img/intro/coffee1.jpg" alt="coffee_desk">
            </div>
            <div class="col-md-6 coffee_details_right">
                <ul class="ul_style">
                    <li class="font_big_css">客房/前台
                        <p class="font_css">56间各具特色的房型</p>
                    </li>
                    <li class="font_big_css">咖啡吧
                        <p class="font_css">精品手冲表演</p>
                    </li>
                    <li class="font_big_css">开放的休闲区与早餐区
                        <p class="font_css">品咖 喝茶 饮酒 美食</p>
                    </li>
                    <li class="font_big_css">包厢/会议室
                        <p class="font_css">VIP升级, 大小包厢5个, 最大的会议室可容纳20-30人</p>
                    </li>
                    <li class="font_big_css">活动中心
                        <p class="font_css">承接各种座谈会/茶话会/派对聚会/创意DIY等活动</p>
                    </li>
                </ul>
            </div>
        </div>

        <img class="coffee_img1 lazy internal" data-original="../img/intro/lobby4.jpg" alt="coffee">

        <p class="coffee_p2">大叔的Coffee Menu</p>
        <div class="row coffee_details">
            <div class="col-md-6 coffee_details_left">
                <img class="lazy" data-original="../img/intro/coffee2.jpg" alt="coffee_desk">
            </div>
            <div class="col-md-6 coffee_details_right">
                <ul class="ul_style">
                    <li class="font_big_css">曼特宁
                        <p class="font_css">风味：巧克力的香气，糖浆似的口感带中度的果酸，干净的回甘。</p>
                    </li>
                    <li class="font_big_css">哥伦比亚
                        <p class="font_css">风味：甘蔗甜、香草、焦糖、带有柑橘风味的柔和酸质。</p>
                    </li>
                    <li class="font_big_css">巴西
                        <p class="font_css">风味：烤花生、核桃、中度柠檬酸，body醇厚，尾段巧克力回甘明显。</p>
                    </li>
                    <li class="font_big_css">耶加雪咖
                        <p class="font_css">风味：柠檬、柑橘、余韵花香</p>
                        <p class="font_css">。。。</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="geography" class="geography center part">
        <h1 class="css_h1">地理位置</h1>
        <p class="css_p">Geographical advantage</p>
        <div class="geography_bottom">
            <p class="first_p">普陀旅游金三角—与佛教圣地普陀山、沙雕故乡朱家尖、桃花岛隔海相望。</p>
            <p>交通便利—离机场、码头、客运中心均在5分钟车程内。</p>
            <p class="center_p">闹中取静-毗邻保利大剧院、行政商务楼群、商业广场、电影院等。</p>
            <p>地址：舟山普陀东港昌正街170号</p>
            <p class="last_p">电话：0580-3887474</p>
        </div>
    </div>

    <div id="travel" class="rooms center part">
        <h1 class="css_h1">旅游攻略</h1>
        <p class="css_p">Travel around</p>
        <div class="row left_right_img">
            <div class="col-xs-6 col-md-6">
                <img class="lazy" data-original="../img/intro/travel66.jpg" alt="coffee_desk">
            </div>
            <div class="col-xs-6 col-md-6 style_position">
                <div class="traval_text">
                    <p class="css_h2">禅游</p>
                    <p class="css_h2">古寺礼佛,写意禅境</p>
                    <p class="css_h3">雀舍与普陀山隔海相望</p>
                </div>
            </div>
        </div>
        <div class="row left_right_img">
            <div class="col-xs-6 col-md-6 traval_text">
                <p class="css_h2">中国四大佛山之一</p>
                <p class="css_h3">想到了就来普陀山</p>
                <p class="css_h3">驰誉中外的世界佛教圣地</p>
            </div>
            <div class="col-xs-6 col-md-6">
                <img class="lazy" data-original="../img/intro/traval1.jpg" alt="coffee_desk">
            </div>
        </div>

        <div class="row left_right_img">
            <div class="col-xs-6 col-md-6">
                <img class="lazy" data-original="../img/intro/food2_pc.jpg" alt="coffee_desk">
            </div>
            <div class="col-xs-6 col-md-6 style_position">
                <div class="traval_text">
                    <p class="css_h2">馋游</p>
                    <p class="css_h3">渔舟唱晚, 十里鲜香</p>
                </div>
            </div>
        </div>
        <div class="row left_right_img">
            <div class="col-xs-6 col-md-6 traval_text">
                <p class="css_h2">沈家门夜排挡</p>
                <p class="css_h3">与渔火交相辉映,依山傍海</p>
                <p class="css_h3">观海景,尝海鲜,品味地道舟山美食</p>
                <p class="css_h3">雀舍距离沈家门夜排挡5分钟车程</p>
            </div>
            <div class="col-xs-6 col-md-6">
                <img class="lazy" data-original="../img/intro/travel88.jpg" alt="coffee_desk">
            </div>
        </div>
        <div class="sub-intro">
            <div class="row left_right_img">
                <div class="col-xs-6 col-md-6 iland_pic">
                    <img class="lazy sub-img" data-original="../img/intro/travel33.jpg" alt="coffee_desk">
                    <!--<p class="style_p">黎明的第一缕阳光</p>-->
                </div>
                <div class="col-xs-6 col-md-6 iland_pic">
                    <img class="lazy sub-img" data-original="../img/intro/travel22.jpg" alt="coffee_desk">
                    <!--<p class="style_p">在海滩肆意游玩</p>-->
                </div>
            </div>
            <div class="row left_right_img">
                <div class="col-xs-6 col-md-6 iland_pic">
                    <img class="lazy sub-img" data-original="../img/intro/travel11.jpg" alt="coffee_desk">
                    <!--<p class="style_p">宁静的远方</p>-->
                </div>
                <div class="col-xs-6 col-md-6 iland_pic">
                    <img class="lazy sub-img" data-original="../img/intro/travel44.jpg" alt="coffee_desk">
                    <!--<p class="style_p">东海音乐节</p>-->
                </div>
            </div>
            <div class="row left_right_img">
                <div class="col-xs-6 col-md-6 iland_pic">
                    <img class="lazy sub-img" data-original="../img/intro/iland1.jpg" alt="coffee_desk">
                    <!--<p class="style_p">东海狂欢</p>-->
                </div>
                <div class="col-xs-6 col-md-6 iland_pic">
                    <img class="lazy sub-img" data-original="../img/intro/iland2.jpg" alt="coffee_desk">
                    <!--<p class="style_p">桃花岛</p>-->
                </div>
            </div>
        </div>

    </div>
</div>
<footer class="row">
    <div class="nest-footer-container">
        <div class="col-sm-6 col-xs-4">
            <img class="lazy" data-original="../img/index/foot_logo.png" alt="">
            <div class="nestFooterLeft hidden-xs">
                <p class="copy-right">@Copyright 浙ICP备15029129号</p>
            </div>
        </div>
        <div class="col-sm-6 col-xs-8">
            <div class="nestFooterRight">
                <p class="hidden-xs">地址：浙江省舟山市普陀区东港昌正街170号</p>
                <p>电话：0580-3887474</p>
                <p class="copy-right visible-xs">@Copyright 浙ICP备15029129号</p>
            </div>
        </div>
    </div>
</footer>
<script>
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
    window.onresize=function () {
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
    }
</script>
<script src="http://cdn.bootcss.com/jquery/3.2.0/jquery.min.js"></script>
<script src="public/jquery.lazyload.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('.navMenu').click(function () {
            if($(this).hasClass('glyphicon-menu-hamburger')){
                $(this).removeClass('glyphicon-menu-hamburger').addClass('glyphicon-remove');
            }else {
                $(this).removeClass('glyphicon-remove').addClass('glyphicon-menu-hamburger');
            }
            $("#phoneNav").slideToggle(300);
        });
        //点击a标签后收回ul
        $('#phoneNav a').click(function () {
            $("#phoneNav").slideUp(300);
            if ($('.navMenu').hasClass('glyphicon-menu-hamburger')) {
                $('.navMenu').removeClass('glyphicon-menu-hamburger').addClass('glyphicon-remove');
            } else {
                $('.navMenu').removeClass('glyphicon-remove').addClass('glyphicon-menu-hamburger');
            }
        });
//        intro导航栏点击事件
        $('.navigation_container a').click(function () {
            if(!$(this).hasClass('border_bottom')){
                $(".class_a").removeClass('border_bottom');
                $(this).addClass('border_bottom');
            }

        });
//        logo点击事件
        $("#logo").click(function () {
            location.href = "/"
        });

        //懒加载
        $("img.lazy").lazyload({
            effect : "fadeIn",
            threshold : 200
        });
    });
</script>
</body>
</html>