<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../public/bootstrap.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/rooms.css">
    <link rel="shortcut icon" href="../img/index/small_logo.png">
    <link rel="bookmark"  type="image/x-icon"  href="../img/index/small_logo.png"/>
    <title>房型列表</title>
</head>
<body>
<header>
    <div class="navContainer row">
        <div class="col-sm-2 navButton"><a class="header_a_button" href="/">首页</a></div>
        <div class="col-sm-2 navButton"><a class="header_a_button" href="/intro">雀舍其家</a></div>
        <div class="col-sm-4 logo">
            <img id="logo" src="/img/index/logo.png" alt="logo">
        </div>
        <div class="col-sm-2 navButton"><a class="header_a_button fontColor" href="/rooms">舍型展示</a></div>
        <div class="col-sm-2 navButton"><a class="header_a_button" href="/service">舍友服务</a></div>
        <span id="dropdownMenu1" class="visible-xs-block navMenu glyphicon glyphicon-menu-hamburger"></span>
        <ul id="phoneNav" class="phoneNav">
            <li><a href="/">首页</a></li>
            <li><a href="/intro">雀舍其家</a></li>
            <li><a href="/rooms">舍型展示</a></li>
            <li><a href="/service">舍友服务</a></li>
        </ul>
    </div>
</header>

<nav class="hidden-xs">
    <p>舍型展示</p>
</nav>
<div class="visible-xs-block phone_text">
    <img class="phone_text_img" src="../img/index/out_side.jpg" alt="navImg">
    <div class="phone_text_content">
        <p class="phone_text_title">舟山雀舍咖啡城市民居</p><span class="phone_text_point">高档型</span>
        <p class="phone_text_other">2017年开业</p>
        <p class="phone_text_other">东港街道正街170号1-4层(近普陀区政府)</p>
    </div>
</div>
<div id="content" class="center">
    <!--<div class="row">-->
    <div class="row">
        <% for(var i=0; i<rooms.length; i++) {%>
        <div class="col-sm-6 col-md-6 phone_margin">
            <div id="carousel<%= rooms[i].id %>" data-interval="false" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <% for(var j=0; j<rooms[i].images.length; j++) {%>
                    <% if (rooms[i].images[j] == rooms[i].avatar) { %>
                    <div class="item active">
                        <img class="img_height" src="<%= '../img/rooms/small/' + rooms[i].id + '/' + rooms[i].images[j] %>" alt="forest_twin_room">
                    </div>
                    <% } else { %>
                    <div class="item">
                        <img src="<%= '../img/rooms/small/' + rooms[i].id + '/' + rooms[i].images[j] %>" alt="forest_twin_room">
                    </div>
                    <% } %>

                    <% } %>
                </div>
                <a class="left carousel-control" href="#carousel<%= rooms[i].id %>" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel<%= rooms[i].id %>" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="left_right_img_words">
                <p class="price"><span>￥<%= rooms[i].price %></span><%= rooms[i].name %>（限量特惠）</p>
                <p class="room_info">双早 <%= rooms[i].bedType %> 可住<%= rooms[i].maxNum %>人</p>
                <p class="button_details"><a href="/detail/<%= rooms[i].id %>">查看详情</a></p>
                <p class="button">客房预定</p>
            </div>
        </div>
        <% } %>
    </div>

    <!--<div class="col-md-6 phone_margin">-->
    <!--<div id="carousel1" data-interval="false" class="carousel slide" data-ride="carousel">-->
    <!--<div class="carousel-inner" role="listbox">-->
    <!--<div class="item active">-->
    <!--<img src="../img/rooms/forest_twin_room.jpg" alt="forest_twin_room">-->
    <!--</div>-->
    <!--<div class="item">-->
    <!--<img src="../img/rooms/forest_twin_room.jpg" alt="forest_twin_room">-->
    <!--</div>-->
    <!--</div>-->
    <!--<a class="left carousel-control" href="#carousel1" role="button" data-slide="prev">-->
    <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
    <!--<span class="sr-only">Previous</span>-->
    <!--</a>-->
    <!--<a class="right carousel-control" href="#carousel1" role="button" data-slide="next">-->
    <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
    <!--<span class="sr-only">Next</span>-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="left_right_img_words">-->
    <!--<p class="price"><span>￥298</span> 森林双床房（限量特惠）</p>-->
    <!--<p class="room_info">双早 双床 可住2人</p>-->
    <!--<p class="room_reserve">不可取消 确认快</p>-->
    <!--<p class="button_details">查看详情</p>-->
    <!--<p class="button">客房预定</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-6 phone_margin">-->
    <!--<div id="carousel2" data-interval="false"  class="carousel slide" data-ride="carousel">-->
    <!--<div class="carousel-inner" role="listbox">-->
    <!--<div class="item active">-->
    <!--<img src="../img/rooms/forest_twin_room.jpg" alt="forest_twin_room">-->
    <!--</div>-->
    <!--<div class="item">-->
    <!--<img src="../img/rooms/forest_twin_room.jpg" alt="forest_twin_room">-->
    <!--</div>-->
    <!--</div>-->
    <!--<a class="left carousel-control" href="#carousel2" role="button" data-slide="prev">-->
    <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
    <!--<span class="sr-only">Previous</span>-->
    <!--</a>-->
    <!--<a class="right carousel-control" href="#carousel2" role="button" data-slide="next">-->
    <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
    <!--<span class="sr-only">Next</span>-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="left_right_img_words">-->
    <!--<p class="price"><span>￥298</span> 森林双床房（限量特惠）</p>-->
    <!--<p class="room_info">双早 双床 可住2人</p>-->
    <!--<p class="room_reserve">不可取消 确认快</p>-->
    <!--<p class="button_details">查看详情</p>-->
    <!--<p class="button">客房预定</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</div>
<footer class="row">
    <div class="nest-footer-container">
        <div class="col-sm-6 col-xs-4">
            <img src="../img/index/foot_logo.png" alt="">
            <div class="nestFooterLeft hidden-xs">
                <p class="copy-right">@Copyright 浙ICP备15029129号</p>
            </div>
        </div>
        <div class="col-sm-6 col-xs-8">
            <div class="nestFooterRight">
                <p class="hidden-xs">地址：浙江省舟山市普陀区东港昌正街170号</p>
                <p>电话：0580-3887474</p>
                <p class="copy-right visible-xs">@Copyright 浙ICP备15029129号</p>
            </div>
        </div>
    </div>
</footer>
<script>
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
    window.onresize=function () {
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
    }
</script>
<script src="public/jquery-3.1.1.js"></script>
<script src="public/bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $('.navMenu').click(function () {
            if($(this).hasClass('glyphicon-menu-hamburger')){
                $(this).removeClass('glyphicon-menu-hamburger').addClass('glyphicon-remove');
            }else {
                $(this).removeClass('glyphicon-remove').addClass('glyphicon-menu-hamburger');
            }
            $("#phoneNav").slideToggle(300);
        });
        //        logo点击事件
        $("#logo").click(function () {
            location.href = "/"
        });

    })
</script>
</body>
</html>