<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="public/bootstrap.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/service.css">
    <link rel="shortcut icon" href="../img/index/small_logo.png">
    <link rel="bookmark"  type="image/x-icon"  href="../img/index/small_logo.png"/>
    <title>舍型服务</title>
</head>
<body class="container-fluid">
<header>
    <div class="navContainer row">
        <div class="col-sm-2 navButton"><a class="header_a_button" href="/">首页</a></div>
        <div class="col-sm-2 navButton"><a class="header_a_button" href="/intro">雀舍其家</a></div>
        <div class="col-sm-4 logo">
            <img id="logo" src="/img/index/logo.png" alt="logo">
        </div>
        <div class="col-sm-2 navButton"><a class="header_a_button" href="/rooms">舍型展示</a></div>
        <div class="col-sm-2 navButton"><a class="header_a_button fontColor" href="/service">舍友服务</a></div>
        <span id="dropdownMenu1" class="visible-xs-block navMenu glyphicon glyphicon-menu-hamburger"></span>
        <ul id="phoneNav" class="phoneNav">
            <li><a href="/">首页</a></li>
            <li><a href="/intro">雀舍其家</a></li>
            <li><a href="/rooms">舍型展示</a></li>
            <li><a href="/service">舍友服务</a></li>
        </ul>
    </div>
</header>

<nav class="row"></nav>
<div id="content" class="center">
    <div class="content_part1">
        <h3>会员福利</h3>
        <div class="font_content">
            <p>暂无</p>
        </div>
    </div>
    <div class="content_part1">
        <h3>招贤纳士</h3>
        <div class="font_content">
            <p>暂无</p>
        </div>
    </div>
    <div class="content_address">
        <h3>联系我们</h3>
        <div class="font_content">
            <p>公司: 舟山雀舍城市酒店有限公司</p>
            <p>电话: 0580-3887474</p>
            <p>地址: 浙江省舟山市普陀区东港昌正街170号</p>
        </div>
        <div id="allmap"></div>
    </div>
</div>
<footer class="row">
    <div class="nest-footer-container">
        <div class="col-sm-6 col-xs-4">
            <img src="../img/index/foot_logo.png" alt="">
            <div class="nestFooterLeft hidden-xs">
                <p class="copy-right">@Copyright 浙ICP备15029129号</p>
            </div>
        </div>
        <div class="col-sm-6 col-xs-8">
            <div class="nestFooterRight">
                <p class="hidden-xs">地址：浙江省舟山市普陀区东港昌正街170号</p>
                <p>电话：0580-3887474</p>
                <p class="copy-right visible-xs">@Copyright 浙ICP备15029129号</p>
            </div>
        </div>
    </div>
</footer>
<script>
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
    window.onresize=function () {
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
    }
</script>
<script src="public/jquery-3.1.1.js"></script>
<script src="public/bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $('.navMenu').click(function () {
            if($(this).hasClass('glyphicon-menu-hamburger')){
                $(this).removeClass('glyphicon-menu-hamburger').addClass('glyphicon-remove');
            }else {
                $(this).removeClass('glyphicon-remove').addClass('glyphicon-menu-hamburger');
            }
            $("#phoneNav").slideToggle(300);
        });
        //点击a标签后收回ul
        $('#phoneNav a').click(function () {
            $("#phoneNav").slideUp(300);
            if ($('.navMenu').hasClass('glyphicon-menu-hamburger')) {
                $('.navMenu').removeClass('glyphicon-menu-hamburger').addClass('glyphicon-remove');
            } else {
                $('.navMenu').removeClass('glyphicon-remove').addClass('glyphicon-menu-hamburger');
            }
        });
        //        logo点击事件
        $("#logo").click(function () {
            location.href = "/"
        });

    })
</script>
</body>
</html>
<script type="text/javascript">
    //百度地图API功能
    function loadJScript() {
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "http://api.map.baidu.com/api?v=2.0&ak=9yoxSjtG3dTLhCbrNlnRFgHLQNzEknRM&callback=init";
        document.body.appendChild(script);
    }
    function init() {
        var map = new BMap.Map("allmap");            // 创建Map实例
        var point = new BMap.Point(122.329309,29.975148); // 创建点坐标
        map.centerAndZoom(point,18);
        map.enableScrollWheelZoom();                 //启用滚轮放大缩小
        var marker = new BMap.Marker(point);  // 创建标注
        map.addOverlay(marker);               // 将标注添加到地图中
        marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
    }
    window.onload = loadJScript;  //异步加载地图
</script>