ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav {
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.wrap {
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
    max-width: 960px;
    min-height: 320px;
    position: relative;
}

.wrap .desc .item .title {
    font-size: 16px;
}
.wrap .desc .item .title .price {
    float: right;
    font-size: 16px;
    color: #53b7bd;
    margin-right: 20px;
}
.wrap .desc .item .title .book {
    float: right;
    background-color: #ff5f62;
    border: 1px solid #ff5f62;
    position: relative;
    top: -8px;
}

.wrap .desc .service {
    margin-top: 20px;
    padding: 0;
}

.wrap .desc .second {
    margin-top: 0;
}

.wrap .desc .service li {
    width: 120px;
    height: 136px;
    padding: 10px;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    /*margin-right: 60px;*/
}

.wrap .desc .second li {
    width: 120px;
    height: 100px;
}

.wrap .desc .service li.right {
    margin-right: 0;
}

.wrap .desc .service li img{
    width: 60px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
.wrap .desc .service li p{
    margin: auto;
    text-align: center;
    max-width: 100px;
    overflow: hidden;
    white-space: normal;
　　word-break: break-all; /*支持IE，chrome，FF不支持*/
　　word-wrap: break-word;/*支持IE，chrome，FF*/
}

.wrap .intro .item .title {
    padding-top: 20px;
    font-size: 16px;
}

.content {
    padding-bottom: 10px;
}

.img-bar {
    position: absolute;
    bottom: 20px;
}

.img-bar .arrow {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 20px;
    padding: 10px 0 0 0;
    margin: 0;
}

.img-bar .arrow.left {
    left: 14px;
}

.img-bar .arrow.right {
    left: 366px;
}

.img-bar .arrow img {
    height: 30px;
}

.link-color {
    color: #5ac6cc!important;
}

.title-color {
    color: #333333;
}

.content-color {
    color: #666666;
}

.line {
    height: 2px;
    width: 100%;
    background-color: #dbdbdb;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img-bar .thumb {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    max-width: 322px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 40px;
}

.img-bar .thumb li {
    height: 50px;
    width: 50px;
    display: inline-block;
}

.img-bar .thumb img {
    height: 100%;
    width: 100%
}

.book-wrap {
    border: 1px solid #e5e5e5;
    /*background-color: #ffffff;*/
    background: rgba(255, 255, 255, 0.5);
    padding: 14px 20px;
    position: relative;
    text-align: center;
    top: -64px;
}

.book-wrap p{
    margin-bottom: 20px;
    font-size: 16px;
    color: #53b7bd;
}

.book-wrap button {
    background-color: #ff5f62;
    border: 1px solid #ff5f62;
}

.layer-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
    top: 0;
    right: 0;
    padding: 20px;
}

/*#carousel .bg-img{*/
    /*height: 200px;*/
    /*width: 200px;*/
/*}*/
/**/
/*#carousel .carousel-inner{*/
    /*height: 200px;*/
    /*width: 200px;*/
/*}*/

/*
 设定首页小于768px的手机屏幕
 */
@media screen and (max-width: 768px) {

    .content .wrap {
        /*padding-top: 36px;*/
        /*padding-bottom: 30px;*/
    }
}

/*
 设定首页大于768px的屏幕
 */
@media screen and (min-width: 768px) and (max-width: 992px) {
}
