ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.carousel-control .glyphicon{
    color: #ffffff;
}

nav {
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
}

.wrap {
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
    max-width: 960px;
    min-height: 320px;
    position: relative;
}

.wrap .desc .item .title {
    font-size: 16px;
}

.wrap .desc .item .title .price {
    float: right;
    font-size: 16px;
    color: #53b7bd;
    margin-right: 20px;
}

.wrap .desc .item .title .book {
    float: right;
    background-color: #ff5f62;
    border: 1px solid #ff5f62;
    position: relative;
    top: -8px;
}

.wrap .desc .service {
    margin-top: 20px;
    padding: 0;
}

.wrap .desc .second {
    margin-top: 0;
    margin-bottom: 20px;
}

.wrap .desc .service li {
    width: 136px;
    height: 128px;
    padding: 10px;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    /*margin-right: 60px;*/
}

.wrap .desc .second li {
    width: 136px;
    height: 128px;
}

.wrap .desc .service li.right {
    margin-right: 0;
}

.wrap .desc .service li img {
    width: 60px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.wrap .desc .service li p {
    margin: auto;
    text-align: center;
    max-width: 100px;
    overflow: hidden;
    white-space: normal;
    　　word-break: break-all; /*支持IE，chrome，FF不支持*/
    　　word-wrap: break-word; /*支持IE，chrome，FF*/
}

.wrap .intro .item .title {
    padding-top: 20px;
    font-size: 16px;
}

.content {
    padding-bottom: 10px;
}

.number {
    font-size: 18px;
    color: #777777 !important;
}

.detail .price {
    font-size: 20px;
    color: #e25357;
    margin-bottom: 0;
}

.detail .address {
    font-size: 16px;
    margin-bottom: 0;
    color: #8c8c8c;
}

.img-view {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #ffffff;
}

.img-bar {
    position: absolute;
    bottom: 20px;
}

.img-bar .arrow {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 20px;
    padding: 10px 0 0 0;
    margin: 0;
}

.img-bar .arrow.left {
    left: 14px;
}

.img-bar .arrow.right {
    left: 366px;
}

.img-bar .arrow img {
    height: 30px;
}

.link-color {
    color: #5ac6cc !important;
}

.title-color {
    color: #333333;
}

.content-color {
    color: #666666;
}

.line {
    height: 2px;
    width: 100%;
    background-color: #dbdbdb;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img-bar .thumb {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    max-width: 322px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 40px;
}

.img-bar .thumb li {
    height: 50px;
    width: 50px;
    display: inline-block;
}

.img-bar .thumb img {
    height: 100%;
    width: 100%
}

.book-wrap {
    border: 1px solid #e5e5e5;
    /*background-color: #ffffff;*/
    background: rgba(255, 255, 255, 0.5);
    padding: 14px 20px;
    position: relative;
    text-align: center;
    top: -64px;
}

.book-wrap p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #53b7bd;
}

.book-wrap button {
    background-color: #ff5f62;
    border: 1px solid #ff5f62;
}

.book-fix {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 56px;
    padding: 10px;
    display: block;
    background: rgba(255, 255, 255, 0.8);
}

.layer-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 10;
    top: 0;
    left: 0;
}

.layer-bg .remove-icon {
    position: fixed;
    height: 68px;
    width: 68px;
    padding: 14px 20px;
    z-index: 20;
    top: 0;
    right: 0;
    color: #ffffff;
    font-size: 28px;
    cursor: pointer;
}

#carousel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 60px auto;
}

#carousel .carousel-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#carousel .carousel-inner .item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#carousel .carousel-inner .item .bg-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*
 设定首页小于768px的手机屏幕
 */
@media screen and (max-width: 768px) {

    .content .wrap {
        padding: 20px 0;
    }

    .content .wrap .desc-wrap{
        padding: 0;
    }

    .wrap .desc .service {
        margin-top: 26px;
        padding: 0;
        font-size: 12px;
    }

    .wrap .desc .second {
        margin-top: 0;
        margin-bottom: 0;
    }

    .wrap .desc .service li {
        width: 80px;
        height: 88px;
        padding: 0;
    }

    .wrap .desc .second li {
        width: 80px;
        height: 88px;
    }

    .wrap .desc .service li img {
        width: 40px;
        padding: 0;
    }

    .wrap .desc .service li p {
        max-width: 60px;
        padding: 0;
    }

    .detail h3 {
        margin-top: 10px;
    }
}


/*
 设定首页小于320px的手机屏幕
 */
@media screen and (max-width: 320px) {

    .wrap .desc .service li {
        width: 68px;
    }

    .wrap .desc .second li {
        width: 68px;
    }
}

/*
 设定首页大于768px的屏幕
 */
@media screen and (min-width: 768px) and (max-width: 992px) {
}
