

/*
 设定首页小于768px的手机屏幕
 */
@media screen and (max-width: 768px) {
    .content .nestSea h1,h2,p{
        margin-left: 30px;
    }
    .content .nestSea .nestSeaP{
        margin-top: auto;
        margin-left: 30px;
    }
    .content .nestSea .nestSeaRight img{
        margin-left: 5%;
    }
    .content .nestTourism .nestTourismRight img{
        /*height: 561px; */
        width: 90%;
        /* margin-top: 73px; */
        margin-left: 5%;
    }
    .content .nestTourism .nestTourismLeft h1,h2,p{
        margin-top: auto;
    }
    .content .nestTourism .nestTourismLeft .nestTourismLeftP{
        margin-top: auto;
    }
    .navImg{
        background-position-x: 40%;
        background-size: 80%;
    }
    .content .nestOutsideTop p{
        color: #aaaaaa;
    }
}

/*
 设定首页大于768px的屏幕
 */
@media screen and (min-width: 768px) {
    .content .nestOutsideTop h1{
        margin-bottom: 85px;
        font-size: 55px;
    }
    .content .nestOutsideImg img{
        width: 5rem;
        padding: .22rem;
    }
    /*.content .nestSea .nestSeaLeft{*/
        /*padding-left: .2rem;*/
    /*}*/
    .nestSeaRight{
        margin-bottom: 26px;
    }

}

nav{
    text-align: center;
    background-image: url("../img/index/nav_bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navImg{
    margin-top: 160px;
    margin-right: auto;
    margin-left: auto;
    background-image: url("../img/index/nest.png");
    height: 220px;
    width: 260px;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
nav .dataPicker{
    margin: 70px auto 50px auto;
    height: 50px;
    width: 240px;
    background-color: rgba(225,225,225,0.75);
    /* opacity: 0.75; */
    /*box-shadow: 0 5px 70px #888888;*/
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
    color: #2d1405;
    border-radius: 50px;
    /* border: 1px solid #ffffff; */
}

.content{
    /*height: 1000px;*/
}

.content .nestOutside{
    /*position: relative;*/
    /*margin-top: 91px;*/
    /*height: 1000px;*/
}
.content .nestOutsideTop{
    text-align: center;
    /*height: 605px;*/
}
.nestOutsideTop h1{
    color: #000000;
    /*margin-bottom: .85rem;*/
    font-family: "SimHei";
    margin-top: .6rem;
    font-size: 36px;
    font-weight: bold;
}
.nestOutsideTop p{
    font-family: "SimHei";
    color: rgb(185, 184, 184);
}
.content .nestOutsideBottom{
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: #f1f1f1;
    height: 2.4rem;
    width: 100%;
}
.content .nestOutsideImg{
    margin-bottom: .3rem;
    /*position: relative;*/
    z-index: 2;
    /*margin-left: calc(50% - 500px);*/
    /*position: absolute;*/
    /*bottom: 48px;*/
    text-align: center;
    /*float: left;*/
    background-color: #ffffff;
}
.nestOutsideImg{
    position: relative;
    padding: .36rem;
    width: 100%;
}

.content .nestSea{
    /*border: 1px solid;*/
    margin-top: 26px;
    /*height: 800px;*/
}

.content .nestSea .nestSeaH1{
    /*border: 1px solid;*/
    margin-top: 1px;
    margin-bottom: 10px;
    /*height: 800px;*/
}

.nestSeaLeft{
    padding-left: 60px;
    padding-right: 30px;
    padding-bottom: 60px;
    text-align: left;
    display: inline-block;
    /*width: 50%;*/
    /*height: 800px;*/
}

.nestSeaP{
    margin-top: 40px;
    font-size: 20px;
    color: #666666;
}
.content .nestSea .nestSeaRight{
    /*display: inline-block;*/
}
.content .nestSea .nestSeaLine{
    border: 1px solid #cfcfcf;
    width: 120px;
    margin-left: 42px;
    margin-bottom: 16px;
}

.nestSeaRightImg{
    margin-bottom: 60px;
    width: 90%;
}

.content .nestDesk{
    background-image: url("../img/index/nest_desk.jpg");
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
    height: 800px;
 }

.content .nestDesk .nestDeskFont{
    text-align: center;
    top: 100px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
    height: 570px;
    position: relative;
 }

.content .nestDesk .nestDeskFont h2{
    padding-bottom: 40px;
    padding-top: 70px;
}


.content .nestDesk .nestDeskFont h1{
    margin-top: 30px;
 }

.content .nestDesk .nestDeskFont p{
    margin-top: 44px;
    color: #666666;
    font-size: 20px;
 }

.content .nestTourism{
    margin-top: 26px;
    /*height: 800px;*/
}
.content .nestTourism .nestTourismLeft{
    padding-right: 60px;
    padding-left: 30px;
    text-align: left;
    display: inline-block;
    /*width: 50%;*/
    /*height: 800px;*/
}
.nestTourismLeftH1{
    margin-top: 60px;
}
.nestTourismLeftP{
    margin-top: 80px;
    font-size: 20px;
    color: #666666;
}
.content .nestTourism .nestTourismRight{
    display: inline-block;
    /*width: 50%;*/
    height: 680px;
    float: left;
}

.content .nestTourism .nestTourismRight img{
    height: 561px;
    width: 90%;
    margin-top: 60px;
    margin-left: 10%;
}

