nav{
    text-align: center;
    background-image: url("../img/rooms/big/0004/1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navImg{
    margin-top: 160px;
    margin-right: auto;
    margin-left: auto;
    background-image: url("../img/index/nest.png");
    height: 220px;
    width: 260px;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
nav .dataPicker{
    margin: 70px auto 50px auto;
    height: 50px;
    width: 240px;
    background-color: rgba(0,0,0,0.15);
    /* opacity: 0.75; */
    /*box-shadow: 0 5px 70px #888888;*/
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
    border-radius: 50px;
    /* border: 1px solid #ffffff; */
}

.content{
    /*height: 1000px;*/
}

.content .nestOutside{
    /*position: relative;*/
    /*margin-top: 91px;*/
    /*height: 1000px;*/
}

.content .nestOutsideTop h1{
    margin-bottom: 85px;
    font-size: 50px;
    font-family: "SimHei";
    margin-top: .6rem;
    font-weight: bold;
}

.content .nestOutsideTop{
    text-align: center;
    /*height: 605px;*/
}
.nestOutsideTop h1{
    color: #000000;
    /* margin-bottom: .85rem; */
    /* font-family: "SimHei"; */
    margin-top: 1rem;
    font-size: 30px;
    /* font-weight: bold; */
}
.nestOutsideTop p{
    font-family: "SimHei";
    color: rgb(185, 184, 184);
}

.nestOutsideTop .nestOutsideTop-xs-p{
    margin-right: 30px;
    text-align: left;
    margin-left: 30px;
}

.content .nestOutsideBottom{
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: #f1f1f1;
    height: 2.4rem;
    width: 100%;
}
.content .nestOutsideImg{
    /*margin-bottom: .3rem;*/
    /*position: relative;*/
    z-index: 2;
    /*margin-left: calc(50% - 500px);*/
    /*position: absolute;*/
    /*bottom: 48px;*/
    text-align: center;
    /*float: left;*/
    background-color: #ffffff;
}
.nestOutsideImg{
    position: relative;
    padding: .36rem;
    width: 100%;
}

.content .wrap{
    padding-top: 86px;
    padding-bottom: 70px;
    /*border: 1px solid;*/
    /*height: 800px;*/
}
.content .nestTourism {
    padding-bottom: 60px;
}

.content .nestSea .nestSeaH1{
    /*border: 1px solid;*/
    margin-top: 1px;
    margin-bottom: 10px;
    /*height: 800px;*/
}

.black_color{
    color: #000000;
}

.nestSeaLeft{
    padding-left: 60px;
    padding-right: 30px;
    text-align: left;
    display: inline-block;
    /*width: 50%;*/
    /*height: 800px;*/
}

.nestSeaLeft-xs{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 36px;
    text-align: left;
    display: inline-block;
    /*width: 50%;*/
    /*height: 800px;*/
}

.nestSeaP{
    margin-top: 40px;
    font-size: 20px;
    color: #666666;
}

.Individualization{
    /*margin-top: 40px;*/
    margin-bottom: 26px;
    font-size: 16px;
}
.content .nestSea .nestSeaRight{
    /*display: inline-block;*/
}
.content .nestSea .nestSeaLine{
    border: 1px solid #cfcfcf;
    width: 120px;
    margin-left: 30px;
    margin-bottom: 16px;
}

.nestSeaRightImg{
    width: 90%;
}

.content .nestDesk{
    background-image: url("../img/index/nest_desk.jpg");
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
    height: 600px;
}

.content .nestDesk .nestDeskFont{
    text-align: center;
    top: 86px;
    margin-right: auto;
    margin-left: auto;
    max-width: 700px;
    background-color: #ffffff;
    height: 440px;
    position: relative;
    padding-top: 20px;
}

.content .nestDesk .nestDeskFont h3{
    padding-bottom: 20px;
    padding-top: 20px;
}


.content .nestDesk .nestDeskFont h2{
    margin-top: 20px;
}

.content .nestDesk .nestDeskFont p{
    margin-top: 20px;
    color: #666666;
    font-size: 18px;
}

.content .nestTourism .nestTourismLeft{
    padding-right: 50px;
    padding-left: 50px;
    text-align: left;
    display: inline-block;
    /*width: 50%;*/
    /*height: 800px;*/
}

.nestTourismLeftP{
    margin-top: 46px;
    font-size: 20px;
    color: #666666;
}
.content .nestTourism .nestTourismRight{
    display: inline-block;
    /*width: 50%;*/
    float: left;
    padding-left: 6%;
}

.content .nestTourism .nestTourismRight img{
    width: 100%;
}


/*
 设定首页小于768px的手机屏幕
 */
@media screen and (max-width: 767px) {
    nav{
        background-image: url("../img/rooms/small/0004/8.jpg");
    }

    .content .wrap{
        padding-top: 36px;
        padding-bottom: 30px;
        /*border: 1px solid;*/
        /*height: 800px;*/
    }
    .content .nestTourism {
        padding-bottom: 30px;
    }

    .content .nestSea h1{
        font-size: 24px;
    }
    /*.content .nestSea h1,h2,p{*/
    /*margin-left: 30px;*/
    /*}*/
    .content .nestSea .nestSeaP{
        font-size: 16px;
        line-height: 30px;
        margin-top: auto;
    }
    .content .nestSea .nestSeaRight img{
        margin-left: 5%;
    }
    .content .nestTourism .nestTourismRight img{
        /*height: 561px; */
        width: 90%;
        /* margin-top: 73px; */
    }
    .content .nestTourism .nestTourismLeft h1,h2,p{
        margin-top: auto;
    }
    .content .nestTourism .nestTourismLeft .nestTourismLeftP{
        margin-top: auto;
    }
    .navImg{
        background-position-x: 40%;
        background-size: 80%;
    }
    .content .nestOutsideTop p{
        color: #aaaaaa;
    }
}


/*
 设定首页大于768px的屏幕
 */
@media screen and (min-width: 768px) and (max-width: 992px)  {
    .content .nestOutsideImg img{
        width: 5rem;
        padding: .22rem;
    }
    /*.content .nestSea .nestSeaLeft{*/
    /*padding-left: .2rem;*/
    /*}*/
    .nestSeaRight{
        margin-bottom: 26px;
    }
    .nestSeaRightImg {
        margin-left: 5%;
        margin-top: 40px;
    }
    .nestTourismRight img{
        padding-right: 6%;
        margin-bottom: 40px;
    }

}
