
nav{
    text-align: center;
    background-image: url("../img/intro/door.jpg");
    height: 320px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navigation_container{
    border-bottom: 1px solid #b9b9b9;
}

.navigation{
    padding: 0;
    text-align: center;
    height: 60px;
    line-height: 60px;
}

.navigation a{
    width: 58px;
    color: #000000;
    display: inline-block;
    height: 60px;
}

.navigation .border_bottom{
    color: #5ac6cc;
    border-bottom: 2px solid #5ac6cc;
}
.visible-xs-block .row{
     margin-right: 0;
     margin-left: 0;
}

#content{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#content .center {
    text-align: center;
}


#content .part{
    padding-top: 30px;
    padding-bottom: 30px;
}

.geography .geography_bottom {
    width: 100%;
    border: 1px solid #b9b9b9;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-left: .4rem;
    padding-right: .4rem;
}

 .geography .geography_bottom p{
    font-size: 18px;
    color: #4a4a4a;
}

 .geography .geography_bottom .first_p{
    margin-top: 44px;
}

 .geography .geography_bottom .center_p{
    margin-bottom: 40px;
}

 .geography .geography_bottom .last_p{
    margin-bottom: 44px;
}

#content .coffee .coffee_p{
    color: #9c9c9c;
    font-size: 14px;
}

.image-block{
    margin: 10px;
}

#content .coffee .coffee_img1{
    width: 100%;
}

#content .coffee .internal{
    margin-top: 40px;
    margin-bottom: 40px;
}

#content .coffee .coffee_div{
    width: 100%;
    text-align: left;
}

#content .coffee .coffee_p2 {
    margin-top: 20px;
    font-size: 20px;
    color: #343434;
}

.css_p {
    margin-bottom: 40px;
}

#content .coffee .coffee_p3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    text-indent: 36px;
    word-wrap:break-word;
    color: #6f6f6f;
}

#content .coffee .coffee_details_left img{
    width: 100%;
}

#content .coffee .coffee_details  {
    /*border: 1px solid;*/
    /*height: 600px;*/
    /*padding: 0;*/
    margin-top: 40px;
    margin-bottom: 40px;
}

#content .coffee .coffee_details_right li {
    text-align: left;
    margin-top: 20px;
}

#content .rooms .left_right_img  div img{
    width: 98%;
}

.sub-intro {
    margin-top: 26px;
}

#content .rooms .nine_img div{
    /*border: 1px solid #00B7FF;*/
}
#content .rooms .nine_img div img{
    width: 98%;
}

#content .nine_img{
    margin-bottom: 40px;
}

#content .rooms .left_right_img div{
    /*border: 1px solid #00B7FF;*/
}


#content .left_right_img .col-md-6{
    margin-bottom: 15px;
}

.left_right_img .traval_text{
    text-align: left;
    position: relative;
    top: 0.4rem;
}

#content .row .iland_pic img{
    margin-bottom: 20px;
}
.font_big_css{
    text-align: left;
    font-size: 20px;
    margin-top: 10px;
}
.font_css{
    color: #6f6f6f;
    font-size: 16px;
    margin-top: 10px;
}
.ul_style{
    list-style: none;
    padding-left: 0;
}
.line_long{
    margin: 0 0 6px 0;
    width: 45px;
    height: 1px;
    background-color: #000000;
    overflow: hidden;
    display: inline-block;
    padding: 0;
}
.p_style_left{
    text-align: left;
}

.css_h2{
    font-size: 20px;
    color: #000000;

}
 .css_h3{
    font-size: 16px;
    color: #000000;

}

.style_position{
    position: relative;
}

/*
 设定首页小于768px的手机屏幕
 */
@media screen and (max-width: 767px) {
    body nav{
        height: 213px;
    }
    body  #content{
        width: 90%;
    }
    #content .geography .geography_bottom p {
        font-size: 16px;
    }
    #content .geography .geography_bottom .first_p{
        margin-top: 22px;
    }

    #content .geography .geography_bottom .center_p{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #content .geography .geography_bottom .last_p{
        margin-bottom: 22px;
    }
    .rooms .css_h2{
        font-size: 12px;
        margin-bottom: 0;
    }

    .rooms .css_h3{
        font-size: 12px;
    }
    body .rooms .css_h2_margin{
        font-size: 16px;
        color: #000000;
        margin-bottom: 6px;
        margin-top: 6px;
    }
    body .rooms .style_p{
        font-size: 12px;
        color: #000000;
    }

    body #content .coffee .coffee_p2 {
        font-size: 16px;
        color: #343434;
    }

    body .font_big_css{
        font-size: 16px;
        margin-top: 6px;
    }

    /*#content .rooms .nine_img div{*/
    /*padding: 6px;*/
    /*}*/

    /*body #content .rooms .left_right_img{*/
    /*margin-top: 0;*/
    /*}*/

    /*body #content .left_right_img .rooms_bottom_img{*/
    /*margin-bottom: 0;*/
    /*}*/
    body #content .nine_img{
        margin-bottom: 0;
    }
    body #content .row .iland_pic img{
        margin-bottom: 20px;
    }

    .css_h1 {
        font-size: 22px;
        margin-top: 10px;
    }

    .css_p {
        font-size: 12px;
        margin-bottom: 20px;
    }

    #content .coffee .internal{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #content .coffee .coffee_details  {
        /*border: 1px solid;*/
        /*height: 600px;*/
        /*padding: 0;*/
        margin-top: 10px;
        margin-bottom: 0;
    }

    #content .part{
        padding-top: 16px;
        padding-bottom: 16px;
    }

    #content .coffee .coffee_p2 {
        margin-top: 0;
    }

}
