/*
 设定首页小于768px的手机屏幕
 */
@media screen and (max-width: 768px) {
    #content{
        width: 92%;
    }
    body #content h3{
        font-size: 16px;
    }
    body #allmap{
        height: 350px;
    }
}
nav{
    text-align: center;
    background-image: url("../img/rooms/nav.jpg");
    height: 320px;
    background-size: cover;
    background-repeat: no-repeat;
}

.center{
    margin-top: 40px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#content h3{
    color: #78c7cd;
}

#content .font_content{
    border-top: 1px solid #dbdbdb;
    text-align: left;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#allmap{
    width: 100%;height: 500px;overflow: hidden;margin:0;font-family:"微软雅黑";
}


